.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
}

.navigation__logo {
  height: 24px;
  width: 200px;
}

.navigation__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 42px;
}

.navigation__link {
  text-decoration: none;
}

.navigation__text {
  margin: 0;
  font-family: "Roboto Medium";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.navigation__container {
  display: flex;
  gap: 64px;
  align-items: center;
  padding-left: 28px;
}

.navigation__button {
  width: 176px;
  height: 48px;
  font-family: "Roboto Medium";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border-radius: 100px;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.navigation__button_type_logout {
  padding: 12px 15px 12px 19px;
  width: fit-content;
  display: flex;
  gap: 12px;
}

.navigation__logout-image {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 768px) {
  .navigation__home {
    font-size: 16px;
  }

  .navigation__button {
    width: 152px;
    height: 40px;
    font-size: 16px;
  }
}
