.header {
  background-color: transparent;
  background-image: url("../../assets/images/header-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 576px;
  display: flex;
  flex-direction: column;
}

.header__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 80px 0px 0px;
  max-width: 608px;
  align-self: center;
}

.header__heading {
  margin: 0;
  font-family: "Roboto Slab Regular";
  font-size: 60px;
  font-weight: 400;
  line-height: 64px;
  max-width: 608px;
  color: white;
  text-wrap: wrap;
}

.header__subheading {
  margin: 0;
  font-family: "Roboto Regular";
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  max-width: 608px;
  color: white;
  text-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .header {
    height: 400px;
  }

  .header__heading {
    font-size: 36px;
    line-height: 40px;
  }

  .header__text {
    max-width: 452px;
    padding-top: 38px;
  }
}

@media screen and (max-width: 540px) {
  .header {
    height: 590px;
  }

  .header__text {
    padding: 30px 16px 122px 16px;
    gap: 16px;
  }
}
