.card {
  max-width: 400px;
  height: 576px;
  position: relative;
  border-radius: 25px;
  border-collapse: separate;
  overflow: hidden;
  background-color: #fff;
}

.card__header {
  max-width: 400px;
  height: 272px;
  background-image: url(../../assets/images/header-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card__image {
  max-width: 400px;
  height: 272px;
}

.card__signin-button {
  background-color: #fff;
  max-width: 182px;
  padding: 0px 20px;
  height: 40px;
  border-radius: 8px;
  border: none;
  padding: 0;
  font-family: "Roboto Medium";
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  position: absolute;
  top: 24px;
  right: 69px;
  visibility: hidden;
}

.card__remove-button {
  background-color: #fff;
  max-width: 182px;
  padding: 0px 20px;
  height: 40px;
  border-radius: 8px;
  border: none;
  padding: 0;
  font-family: "Roboto Medium";
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  position: absolute;
  top: 24px;
  right: 69px;
}

.card__save-button {
  background-image: url(../../assets/images/bookmark.svg);
  background-color: #fff;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.5s linear;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: none;
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
}

.card__save-button:hover + .card__signin-button {
  visibility: visible;
}

.card__save-button:hover {
  background-image: url(../../assets/images/bookmark-hover.svg);
}

.card__save-button_type_clicked {
  background-image: url(../../assets/images/bookmark-clicked.svg);
}

.card__save-button_type_clicked:hover {
  background-image: url(../../assets/images/bookmark-clicked.svg);
}

.card__delete-button {
  background-image: url(../../assets/images/delete-button.svg);
  background-color: #fff;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.5s linear;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: none;
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
}

.card__delete-button:hover {
  background-image: url(../../assets/images/delete-button-hover.svg);
}

.card__date {
  margin: 0;
  font-family: "Roboto Regular";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  padding: 20px 24px 0px 24px;
}

.card__title {
  margin: 0;
  font-family: "Roboto Slab Regular";
  max-width: 352px;
  height: 60px;
  overflow: hidden;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  padding: 12px 24px 0 24px;
}

.card__paragraph {
  margin: 0;
  font-family: "Roboto Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  max-width: 352px;
  height: 110px;
  overflow: hidden;
  color: #1a1b22;
  padding-top: 16px;
  padding: 16px 24px 0 24px;
}

.card__source {
  margin: 0;
  font-family: "Roboto Slab Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #b6bcbf;
  padding: 18px 24px 24px;
}

@media screen and (max-width: 768px) {
  .card {
    max-width: 224px;
    height: fit-content;
  }

  .card__header {
    max-width: 224px;
    height: 150px;
  }

  .card__image {
    max-width: 224px;
    height: 150px;
  }

  .card__signin-button {
    top: 8px;
    right: 53px;
    width: 100px;
  }

  .card__save-button {
    top: 8px;
    right: 8px;
  }

  .card__delete-button {
    top: 8px;
    right: 8px;
  }

  .card__date {
    padding: 16px 15px 0 15px;
  }

  .card__title {
    font-size: 22px;
    line-height: 24px;
    height: 72px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .card__paragraph {
    max-width: 192px;
    height: 88px;
    padding: 10px 16px 0 16px;
  }

  .card__source {
    padding: 12px 16px 16px;
  }
}

@media screen and (max-width: 768px) {
  .card {
    max-width: 288px;
  }

  .card__header {
    max-width: 288px;
    height: 196px;
  }

  .card__image {
    max-width: 288px;
    height: 196px;
  }

  .card__signin-button {
    top: 16px;
    right: 61px;
  }

  .card__save-button {
    top: 16px;
    right: 16px;
  }

  .card__delete-button {
    top: 16px;
    right: 16px;
  }
  .card__date {
    padding: 16px 16px 0;
  }
  .card__title {
    padding: 10px 16px 0;
  }

  .card__paragraph {
    max-width: 256px;
    padding: 14px 16px 0;
  }

  .card__source {
    padding: 8px 16px 16px;
  }
}
