@import url(./vendor/normalize.css);

@font-face {
  font-family: "Roboto Medium";
  src: url(./assets/roboto-500.woff) format("woff");
}

@font-face {
  font-family: "Roboto Regular";
  src: url(./assets/roboto-400-regular.woff) format("woff");
}

@font-face {
  font-family: "Roboto Slab Regular";
  src: url(./assets/roboto-slab-400-regular.woff) format("woff");
}

@font-face {
  font-family: "Roboto Slab Bold";
  src: url(./assets/roboto-slab-700.woff) format("woff");
}
